.footer {
  width: 100%;
  height: 10%;
  background: linear-gradient(180deg, #3c8dad, #125d98);
  position: fixed;
  bottom: 0;
  color: #ffffff;
  display: table;
  font-size: large;
  justify-content: center;
  opacity: 0.9;
}

.footerText {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
