.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  
  
  position: fixed;
  bottom: 0;
  background: linear-gradient(180deg, #3c8dad, #125d98);
  opacity: 0.9;
}

p.footerText {

  
  color: #ffffff;
}
