.container{
  display: grid;
  align-items: center !important;
  justify-content: center !important;
  grid-template-columns: auto;
}
.listItem{
  list-style:none
}

.card{
  margin: 20px !important;  
}

.btnchll-no {
  background-color: transparent;
  border: 0;
  margin-bottom: 20px;
  width: 140px;
  height: 50px;
  margin-right: 5px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #000;
  background-color: #f5a962ad;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.questionNumber{
  font-weight: bold;
}

.imageContainer {
  height: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  margin: 10px;
}

.imageCard {
  max-width: 95%;
  max-height: 95%;
  height: 260px;
  align-content: center;
  border-radius: 5%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .imageContainer {
    height:500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    margin: 10px;
  }

  .imageCard {
/*     max-width: 95%;
    max-height: 95%; */
    height: 450px;
    align-content: center;
    border-radius: 5%;
    overflow: hidden;
  }
  .questionNumber{
    font-size: 125% ;
    font-weight: bold;
  }

  .questionText{
    font-size: 125% ;
  }

  .listItem{
    font-size: 125% ;
  }
}

  @media (min-width: 1024px) {
    .imageContainer {
      height: 600px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      z-index: 1;
      margin: 10px;
    }
  
    .imageCard {
      max-width: 95%;
      max-height: 95%;
      height: 550px;
      align-content: center;
      border-radius: 5%;
      overflow: hidden;
    }

    .questionNumber{
      font-size: 125% ;
      font-weight: bold;
    }

    .questionText{
      font-size: 125% ;
    }
}
