.container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listItem {
  list-style: none;
  margin-left: 10%;
}

.btnchll-no {
  background-color: transparent;
  border: 0;
  margin-bottom: 20px;
  width: 135px;
  height: 40px;
  margin-right: 5px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #000;
  background-color: #0d690d91;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease 0s;
  outline: none;
  margin-left: 10%;
}

.questionNumber {
  font-weight: bold;
  margin-left: 10%;
  color: #4f60ad;
}

.questionChallenge {
  margin-left: 10%;
  margin-bottom: 2%;
}

.imageContainer {
  height: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  margin: 10px;
}
.car-container {
  margin-left: 2%;
}

.imageCard {
  max-width: 95%;
  max-height: 95%;
  height: 260px;
  align-content: center;
  border-radius: 5%;
  overflow: hidden;
}

@media (min-width: 900px) {
  .imageContainer {
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    margin: 10px;
  }

  .question-container {
    font-size: 125%;
  }
  .questionNumber {
    font-size: 125%;
    font-weight: bold;
  }

  .imageCard {
    max-width: 95%;
    max-height: 95%;
    height: 695px;
    align-content: center;
    border-radius: 5%;
    overflow: hidden;
  }
}

@media (min-width: 600px) {
  .imageContainer {
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    margin: 10px;
  }

  .imageCard {
    max-width: 95%;
    max-height: 95%;
    height: 595px;
    align-content: center;
    border-radius: 5%;
    overflow: hidden;
  }
  .question-container {
    font-size: 125%;
  }
  .questionNumber {
    font-size: 125%;
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  .buttons {
    display: flex;
    justify-content: center;
  }
  .bt-back-new {
    margin-left: 0 !important;
  }
  .btnchll {
    margin-left: 0 !important;
  }
  .car-container {
    margin-left: 5% !important;
  }
}
