*{
    background: rgb(199, 199, 199);
 
}
.card-container {
   
   box-sizing: content-box;
   width: 50vh;
   height: 20vh;
    
}

.challenge-container{
    width: 40vh;
    height: 60px;
    font-size: smaller;
    margin-bottom: 1vh;
    align-self:baseline;
    text-decoration: none;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background-color: rgba(18, 93, 152, 1);
    display: flex;
    word-break: break-all;
    justify-content: center;
    align-items: center;
    border-radius: 25px
    
  
}
@media (max-width: 700px) {

    
    .challenge-container{
       width: 40vh;
       height: 7vh;
       display: flex;
       justify-content: center;
       align-items: center;
       word-break: break-all;
      
     
       background-color: brown;
}
}