.challenge-container {
  text-decoration: none;
  color: #125d98;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card-container {
  height: 60px;
  background-color: #cccbca2d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container:hover {
  font-size: 30px;
  background-color: #125e981f;
}
