.challengeName {
  margin-left: 5vw;
  color: #125d98;
}
.challengeInstructions {
  font-weight: bold;
}

.containerQuestionList {
  background-color: rgb(241, 241, 241);
  display: grid;
  align-items: center;
  justify-content: center;
}

.btnchll {
  margin-bottom: 5rem;
}
