.challengesContent {
  background-color: #dddddd4d;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 5%;
}

.challengeName {
  margin-left: 8%;
  color: #4f60ad;
  font-weight: 500;
}
.challengeInstructions {
  margin-left: 10%;
  font-weight: 400;
}

.containerQuestionList {
  background-color: rgb(241, 241, 241);
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}

/* .btnchll {
  margin-bottom: 5rem;
} */

.challengeInstructions {
  margin-left: 8%;
}
