label {
  margin: 5px;
}

.ct-form-create {
  text-align: center;
  color: #125d98;
  margin-top: 30px;
}

.bt-back {
  background-color: transparent;
  border: 0;
  margin-bottom: 20px;
  width: 100px;
  height: 35px;
  margin-right: 5px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  color: #000;
  background-color: #125e984b;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.bt-back:hover {
  background-color: #125d98;
  color: #fff;
  transform: translateY(-2px);
}
