.form-check {
  margin-top: 10px;
}

.bt-back-new {
  background-color: transparent;
  border: 0;
  margin-bottom: 20px;
  width: 120px;
  height: 40px;
  margin-right: 5px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-left: 10%;
  color: #000;
  background-color: #4f60ad;
  color: white;
  border: none;
  cursor:pointer ;
  border-radius: 15px;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease 0s;
  outline: none;
}

.bt-back-new:hover {
  background-color: #383d81;
  color: #fff;
  transform: translateY(-1px);
}
