.mainContainer {
  display: flex;
  flex-direction: column;
}

.wellcomeTitle {
  color: #125d98;
  margin-left: 50%;
}

.cardChallenge {
  list-style: none;
}
.challengeIndexContainer {
  margin-left: 50%;
}
