.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../Assets/homework.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 83vh;
  }
  
  .login_card {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: rgba(253, 254, 255, 0.918);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    height: 22em;
    width: 70vh;
  }
  
  .form_login {
    display: flexbox;
    height: 10vh;
    margin: 0;
    padding: 0;
  }
  .form_login-name {
    display:inline;
    width: 100%;
  }

  .form_login-password {
    display: flex;
    width: 100%;
    margin-top: 1em;
  }
  
  .login_card h1 {
    margin: 1.3em;
  }
  
  .login_img {
    margin-top: 6em;
    width: 20%;
    height: 20%;
  }
  
  .btn_form_login {
    background-color: transparent;
    border: 0;
    margin-bottom: 20px;
    width: 120px;
    height: 40px;
    margin-right: 5px;
    font-size: 11px;
  
    letter-spacing: 1.5px;
    margin-left: 10%;
    color: #000;

    color: white;
    border: none;
    cursor:pointer ;
    border-radius: 15px;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease 0s;
    outline: none;
    font-size: 1rem;
    height: 3rem;
    width: 5.5rem;
    background: rgb(0, 81, 128);
    color: white;
    padding: 2%;
    border: none;
    border-radius: 1rem;
    float: right;
    margin-top: 2.5em;
    z-index: 9;
  }
  .btn_form_login:hover {
    cursor: pointer;
    background-color: #383d81;
    color: #fff;
    transform: translateY(-1px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .input_login {
    border: 1px solid #dcd8d8;
    border-radius: 0.25rem;
    box-sizing: border-box;
    resize: vertical;
    background-color: #f5fffced;
    color: black;
    width: 16em;
    height: 3em;
  }
  

  .label_login {
    flex: 1;
  }
  .input_login {
    flex: 2;
  }