.navbar {

    background-color: rgba(18, 93, 152, 1);
    
}
.logoUser {
    margin-bottom: auto;
    margin-left: 2vmin;
    margin-top: 0.5vmin;
    width: 7vmin;
    height: 7vmin;   

}
.ChallengeLogoNav {
    margin-bottom: auto;
    margin-top: 0.1vmin;
    width: 12vmin;
   

    background-color: transparent;
      
}
.house{
    margin-bottom: auto;
    margin-top: 0.5vmin;
    margin-right: 2vmin;
    width: 7vmin;
    height: 7vmin;
    background-color: transparent;
}

