.kuki {
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   background-color: rgba(18, 93, 152, 1);
    
}
.logoUser {
    margin-bottom: auto;
    margin-left: 2vh;
    margin-top: 1vh;
    width: 6vh;
      

}
.ChallengeLogoNav {
    margin-bottom: auto;
    margin-top: 0.1vh;
    width: 11vh;
    
    background-color: transparent;
      
}
.house{
    margin-bottom: auto;
    margin-right: 2vh;
    margin-top: 1vh;
    width: 6vh;
   
    background-color: transparent;
}

@media (max-width: 700px) {
   
    
}