.navbar {
  
   
    background-color: rgba(18, 93, 152, 1);
    
}
.logoUser {
    margin-bottom: auto;
    margin-left: 2vh;
    margin-top: 1vh;
    width: 8vh;
    height: 8vh;   

}
.ChallengeLogoNav {
    margin-bottom: auto;
    margin-top: 0.1vh;
    width: 14vh;
    height: 10vh;
    background-color: transparent;
      
}
.house{
    margin-bottom: auto;
    margin-right: 2vh;
    margin-top: 1vh;
    width: 8vh;
    height: 8vh;
    background-color: transparent;
}

@media (max-width: 700px) {
    
    
}